/* #dfe4e7 */
/* .logoAndTitle{
    
} */
.logo{
    font-weight: 1000;
    margin-left: 2rem;
    width: 10rem;
    height: 7rem;
}
.navigation{
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    gap: 10rem;
    font-size: 2rem;
    list-style: none;
    padding-top: 1rem;
}
.sign__In{
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    margin-top: .7rem;
    outline: none;
    border: 1px solid var(--color-black);
    background-color: var(--color-Sign);
    transition: 1s ease;
}
.navigation__list a{
    outline: none;
    text-decoration: none;
    color: var(--color-black);
}
.sign__In:hover{
    background-color: var(--primary-color);
}

/* 

.image--1{
    transform: translateY(-10%);
}
.image--2{
    transform: translateY(10%);
}
.image--3{
    transform: translateY(8%);
}
.image--4{
    transform: translateY(-6%);
}
.image--5{
    transform: translateY(4%);
}
.image--6{
    transform: translateY(-2%);
} */