
:root{
    --main-color:#dfe4e7;
    --primary-color:#fff;
    --secondary-color:#01a550;
    --color-black:black;
    --color-Sign : #dfe4e7;
    --testimonial-color : #666;
}
.darkmode {
    --main-color : #232a36;
    --primary-color : #000205;
    --secondary-color : #01a550;
    --color-black : #fff;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background-color: var(--main-color);
    transition: 1s;
}
html{
    font-size: 62.5%;
}
.header__container{
  display: flex;
  justify-content: space-between;
  margin: 3rem 5rem 0 5rem;
 border-bottom: 1px solid var(--primary-color);
 transition: 1s;
}
.sticky{
    position: fixed;
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem 2rem;
    width: 100%;
    z-index: 1;
}
.translate{
    transition: transform 1s, opacity 1s;
}
.transitionY{
    opacity: 0;
    transform: translateY(8rem);
}